/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	max-id: 1;
}

mcTableColumnStyle
{
	span: 1;
	type: Automatic;
	name: Column;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	font-family: 'Times New Roman';
	name: Body;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-TableNormal
{
	border-spacing: 0px 0px;
}

.TableStyle-TableNormal-Column-Column
{
	
}

.TableStyle-TableNormal-HeadI-Column-
{
	
}

.TableStyle-TableNormal-HeadI-Column- p
{
	
}

.TableStyle-TableNormal-HeadE-Column-
{
	
}

.TableStyle-TableNormal-HeadE-Column- p
{
	
}

.TableStyle-TableNormal-HeadF-Column-
{
	
}

.TableStyle-TableNormal-HeadF-Column- p
{
	
}

.TableStyle-TableNormal-HeadH-Column-
{
	
}

.TableStyle-TableNormal-HeadH-Column- p
{
	
}

.TableStyle-TableNormal-HeadD-Column-
{
	
}

.TableStyle-TableNormal-HeadD-Column- p
{
	
}

.TableStyle-TableNormal-HeadC-Column-
{
	
}

.TableStyle-TableNormal-HeadC-Column- p
{
	
}

.TableStyle-TableNormal-HeadB-Column-
{
	
}

.TableStyle-TableNormal-HeadB-Column- p
{
	
}

.TableStyle-TableNormal-HeadA-Column-
{
	
}

.TableStyle-TableNormal-HeadA-Column- p
{
	
}

.TableStyle-TableNormal-HeadG-Column-
{
	
}

.TableStyle-TableNormal-HeadG-Column- p
{
	
}

.TableStyle-TableNormal-FootI-Column-
{
	
}

.TableStyle-TableNormal-FootI-Column- p
{
	
}

.TableStyle-TableNormal-FootE-Column-
{
	
}

.TableStyle-TableNormal-FootE-Column- p
{
	
}

.TableStyle-TableNormal-FootF-Column-
{
	
}

.TableStyle-TableNormal-FootF-Column- p
{
	
}

.TableStyle-TableNormal-FootH-Column-
{
	
}

.TableStyle-TableNormal-FootH-Column- p
{
	
}

.TableStyle-TableNormal-FootD-Column-
{
	
}

.TableStyle-TableNormal-FootD-Column- p
{
	
}

.TableStyle-TableNormal-FootC-Column-
{
	
}

.TableStyle-TableNormal-FootC-Column- p
{
	
}

.TableStyle-TableNormal-FootB-Column-
{
	
}

.TableStyle-TableNormal-FootB-Column- p
{
	
}

.TableStyle-TableNormal-FootA-Column-
{
	
}

.TableStyle-TableNormal-FootA-Column- p
{
	
}

.TableStyle-TableNormal-FootG-Column-
{
	
}

.TableStyle-TableNormal-FootG-Column- p
{
	
}

.TableStyle-TableNormal-Body-Body
{
	
}

.TableStyle-TableNormal-BodyI-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyI-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyE-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyE-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyF-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyF-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyH-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyH-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyD-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyD-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyC-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyC-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyB-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyB-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyA-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyA-Column-Body p
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyG-Column-Body
{
	font-family: 'Times New Roman';
}

.TableStyle-TableNormal-BodyG-Column-Body p
{
	font-family: 'Times New Roman';
}


