/*<meta />*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
	--Brand1: #333;
	--Brand2: #cdcfcf;
	--Dark: #45494c;
	--Medium: #b9bec1;
	--Light: #d0d3d5;
	--White: #ffffff;
}

.clear
{
	clear: both;
}

body
{
	color: var(--Dark);
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

.body-container
{
	padding-left: 2%;
	padding-top: 0;
}

/* Content */

img
{
	max-width: 100%;
	border-left-style: groove;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: groove;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: groove;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: groove;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

p
{
	font-size: 1em;
	margin-bottom: 8px;
	margin-top: 8px;
	line-height: 1.8em;
}

p.table-text
{
	font-size: 12pt;
}

/* Headings */

h1
{
	font-weight: bold;
	font-size: 2em;
	color: #000000;
}

h2
{
	font-weight: bold;
	font-size: 1.8em;
	margin-top: 40px;
}

h3
{
	font-weight: bold;
	font-size: 1.6em;
}

h4
{
	font-weight: bold;
	font-size: 1.4em;
}

/* Home page topic */

.redline
{
	background: #03c3ff;
	height: 3px;
	margin-bottom: 22px;
	width: 50px;
}

div.home-section h1
{
	font-size: 20px;
}

div.home-section li a:link,
div.home-section li a:visited
{
	text-decoration: none;
	font-weight: 300;
	color: #333;
}

a:link
{
	color: #3561ff;
}

a:visited
{
	color: #4f3ec1;
}

div.home-section li a:hover
{
	text-decoration: underline;
}

div.home-footer li a:hover
{
	color: #333;
	font-size: 15px;
}

div.home-section:last-of-type	/*Removes the border on the last section of the home page*/
{
	border-bottom: none;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: var(--Brand2);
	padding: 2%;
	height: 250px;
}

div.home-tiles > div:nth-child(1)
{
	width: 30%;
	margin-left: 19%;
}

div.home-tiles > div:nth-child(2)
{
	width: 30%;
	margin-left: 2%;
}

div.topic-hero
{
	padding: 5%;
	background-size: cover;
	background-attachment: scroll;
	background-image: url('../Images/bg3.png');
}

div.topic-hero h1
{
	color: var(--White);
	font-size: 3.5em;
	text-align: center;
}

html.home-topic	/*Used on home topic to override padding set in the skin*/
{
	
}

html.home-topic .body-container	/*Overrides padding set in the skin*/
{
	padding: 0;
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin when in tablet/mobile*/
{
	max-width: 100%;
	padding: 0;
}

/* Links */

a
{
	color: #3561ff;
}

a.home-button
{
	display: block;
	padding: 10px;
	text-decoration: none;
	width: 100%;
}

MadCap|dropDown
{
	border-bottom: 1px solid var(--Dark);
	mc-image-position: left;
	mc-image-spacing: 10px;
	padding: 10px 0;
	mc-closed-image: url('../../../../../../Users/AnnieZempel/OneDrive - Graylog, Inc/Desktop/Images/Plus.png');
	mc-open-image: url('../../../../../../Users/AnnieZempel/OneDrive - Graylog, Inc/Desktop/Images/Minus.png');
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: var(--Dark);
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

MadCap|expandingBody
{
	color: var(--Dark);
	font-style: italic;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: var(--Brand1);
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	color: var(--Brand1);
}

/* Lists */

dd,
dd p,
dt,
dt p,
li,
li p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

dl,
ol,
ul
{
	letter-spacing: .25px;
	line-height: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Master page */

.height-container-sidenav
{
	padding-bottom: 0;
}

.footer-bottom
{
	font-size: 12px;
	padding-top: 20px;
}

.footer-bottom .footer-col2
{
	padding-top: 7px;
	text-align: right;
}

div.home-footer
{
	background-color: #fff;
	padding: 15px;
	color: #000;
}

a i.fab
{
	font-size: 25px;
	padding: 10px;
}

a i.fab:hover
{
	color: #666;
}

ul.theme-a-menu
{
	padding: 30px 0;
}

ul.theme-a-menu li
{
	list-style: none;
}

div.home-footer img
{
	padding: 30px 0;
}

ul.theme-a-menu li a
{
	color: black;
	font-size: 14px;
}

.container
{
	max-width: 1200px;
	margin: auto;
}

div.home-footer a
{
	color: #000;
	text-decoration: none;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: var(--White);
}

p.footer-sub
{
	color: var(--White);
	font-size: 14pt;
	margin-top: 14px;
}

.sticky-footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

h5
{
	
}

h6
{
	
}

.search-bar-container
{
	max-width: 400px;
	margin: 40px auto;
}

.search-bar .search-field
{
	padding: 10px 20px;
}

.search-bar.search-bar-container .search-submit
{
	background-color: #69758699;
}

nav
{
	color: #000000;
}

nav.title-bar
{
	padding: 15px;
}

code
{
	
}

table
{
	border-color: #000000;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: ' ';
}

caption
{
	font-weight: bold;
	font-style: normal;
}

p.MiniTOC1
{
	font-weight: normal;
	font-style: normal;
}

MadCap|miniTocProxy
{
	border-top-color: transparent;
}

@media print
{
	/* Links */

	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}

@media tablet
{
	/* Home page topic */

	html.home-topic .body-container
	{
		margin-left: 0;
	}

	/* Master page */

	.footer
	{
		padding: 2% 2% 1%;
	}

	div.home-footer > div:nth-child(1)
	{
		width: 25%;
		margin-left: 0%;
	}

	div.home-footer > div:nth-child(2)
	{
		width: 75%;
		margin-left: 0%;
	}
}

@media mobile
{
	/* Home page topic */

	div.home-tiles p
	{
		line-height: 1.2;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10px;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.topic-hero h1
	{
		font-size: 2.5em;
		text-align: center;
	}

	/* Master page */

	.footer
	{
		padding: 5% 7%;
		text-align: center;
	}

	.footer-icons
	{
		text-align: center;
	}

	.footer-logo
	{
		text-align: center;
	}

	div.home-footer > div:nth-child(1)
	{
		width: 100%;
	}

	div.home-footer > div:nth-child(2)
	{
		width: 100%;
		margin: 3% 0;
	}
}

html.home-topic .sidenav-wrapper
{
	display: none;
}

#resultList h3.title a
{
	color: #333;
	font-size: 16px;
	font-weight: 600;
}

#resultList .description
{
	font-size: 14px;
	color: #333;
	padding-left: 20px;
	padding-bottom: 5px;
}

#resultList .url cite
{
	color: #076685;
	font-size: 0.8em;
	font-style: normal;
	padding-left: 20px;
}

#pagination
{
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
}

#pagination a#selected
{
	font-weight: bold;
	border: solid 1px #d0d3d5;
}

#pagination a
{
	color: #333;
}

section.warningBox
{
	background: #ffe4e1;
	padding: 10px;
	font-weight: normal;
}

section.infoBox
{
	background: #f0f8ff;
	padding: 10px;
	font-weight: normal;
	background-color: #e6f9ff;
}

code.language-shell
{
	
}

code.linecode
{
	background: #f5f5f5;
	color: #4f3ec1;
}

@media (max-width: 1279px)
{
	.menuproxy
	{
		display: none;
	}

	div.home-section
	{
		float: none;
		width: 95%;
		padding: 10px 20px 20px;
		background: white;
		border: 1px solid #ccc;
		margin: 10px auto;
		border-radius: 25px;
	}

	div.home-layout
	{
		background: #d4d4d4;
	}

	div.home-layout
	{
		padding: 5px 0;
	}

	.breadcrumbsproxy
	{
		display: block;
	}

	.buttons._Skins_Toolbar.mc-component
	{
		width: 100%;
		margin-bottom: 10px;
	}

	.home-topic .nav-search-wrapper
	{
		display: none;
	}

	.footer-bottom .footer-col2
	{
		text-align: left;
	}
}

@media (min-width: 1280px)
{
	div.home-footer > div:nth-child(1),
	.footer-col1
	{
		width: 25%;
		margin-left: 0%;
		float: left;
	}

	div.home-footer > div:nth-child(2),
	.footer-col2
	{
		width: 75%;
		margin-left: 0%;
		float: left;
	}

	.footer-col2 ul.theme-a-menu li
	{
		width: 30%;
		float: left;
	}

	div.home-section
	{
		float: left;
		width: 31%;
		padding: 10px 20px 20px;
		background: white;
		border: 1px solid #ccc;
		margin: 10px;
		min-height: 250px;
		border-radius: 25px;
	}

	div.home-layout
	{
		padding: 60px 0;
		background: #d4d4d4;
	}

	.menuproxy
	{
		display: block;
	}

	div#mc-main-content
	{
		padding-right: 290px;
	}

	.home-topic div#mc-main-content
	{
		padding-right: 0;
	}

	.menuproxy ul.menu.mc-component
	{
		width: 270px;
		position: fixed;
		right: 20px;
		background: #fff;
		margin-top: 40px;
	}

	.menuproxy ul.menu.mc-component li
	{
		font-size: 14px;
	}

	.menuproxy ul.menu.mc-component li a
	{
		border-left: 2px solid #ccc;
		padding: 10px 6px 10px 20px;
	}

	.menuproxy ul.menu.mc-component li > a.selected
	{
		border-left: 3px solid #03c3ff;
		font-weight: normal;
	}

	.menuproxy ul.menu.mc-component li > a.selected:hover
	{
		font-size: 15px;
		background-color: #dedede;
		font-weight: normal;
	}

	.buttons.popup-container.clearfix.topicToolbarProxy._Skins_Toolbar.mc-component.nocontent
	{
		position: fixed;
		right: 20px;
	}

	.version-warning,
	.custom-breadcrumb
	{
		max-width: 70%;
	}
}

a.codeSnippetCopyButton
{
	background: white;
	border-radius: 4px;
	color: #333;
	text-align: center;
	display: block;
	padding: 3px 6px;
	font-size: 10px;
	text-decoration: none;
	border: 1px solid #ccc;
	position: absolute;
	right: 15px;
}

.codeSnippetCopyButton:hover
{
	background: #bbbbbb;
	color: #ffffff;
}

.codeSnippetBody
{
	margin-right: 50px;
}

div.MCBreadcrumbsBox_breadcrumbsproxy_0
{
	border-bottom-color: #ccc;
	margin-bottom: 0;
}

.MCBreadcrumbsBox_breadcrumbsproxy_0 span.MCBreadcrumbsPrefix
{
	display: none;
}

.custom-header span.MCBreadcrumbsSelf,
.custom-header span.MCBreadcrumbsDivider,
.custom-header a.MCBreadcrumbsLink
{
	display: none;
}

.custom-header
{
	font-size: 30px;
	font-weight: bold;
	margin-top: 30px;
}

.custom-header span.MCBreadcrumbsSelf:last-child
{
	font-weight: bold;
	font-size: 1.2em;
	color: #000;
	padding-bottom: 10px;
	display: block;
}

span.MCBreadcrumbsDivider
{
	display: none;
}

p.ProductBanner
{
	font-weight: bold;
	background: transparent;
	color: #133049;
}

.codeSnippet
{
	position: relative;
}

section.warningBox .title,
section.infoBox .title
{
	font-weight: bold;
}

ul.MiniTOC
{
	
}

/*<meta sourceDocument="C:\Import Files\2_migration-check.md" />*/
/*<meta sourceDocument="C:\Import Files\2_debian-tarball-.md" />*/
/*<meta sourceDocument="C:\Import Files\20_upgrade-mongodb.md" />*/

span.SnippetBanner
{
	color: #505050;
}

.home-mid-nav
{
	text-align: center;
}

.home-mid-nav a
{
	display: inline-block;
	padding: 10px;
	background: white;
	color: black;
	text-decoration: none;
	margin: 8px;
	font-weight: bold;
}

.version-switcher
{
	padding: 0 10px;
}

.version-warning
{
	background: #8080804d;
	padding: 10px;
	margin-top: 10px;
	background-color: #c2f0ff;
}

.custom-breadcrumb
{
	font-size: 12px;
}

.custom-breadcrumb .nocontent
{
	display: inline;
}

.custom-breadcrumb div.MCBreadcrumbsBox_0
{
	border: 0;
}

.custom-breadcrumb span.MCBreadcrumbsDivider
{
	display: inline;
}

.custom-breadcrumb .MCBreadcrumbsBox_0.breadcrumbs
{
	display: inline;
}

.gl-go-banner-horizontal img
{
	width: 100%;
	padding: 0 35px 20px 10px;
}

.gl-go-banner-internal
{
	max-width: 750px;
}

.home-version-switcher
{
	color: #fff;
	text-align: center;
}

p.ProductOnlyBanner
{
	font-weight: bold;
	font-style: normal;
	background-color: #d4d4d4;
}

img.imgname
{
	max-width: 100%;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-top-left-radius: 0px;
}

b.Illuminate_banner
{
	color: #404040;
}

.invisible-label
{
	display: none;
}

