/*<meta />*/

table
{
	padding: 0;
	margin: 0;
	border-spacing: 0px;
	border-collapse: collapse;
}

col
{
	width: 65px;
	padding: 0;
	margin: 0;
}

tr
{
	height: auto;
	padding: 0;
	margin: 0;
}

td
{
	font-family: Calibri;
	font-size: 11px;
	background: white;
	color: black;
	padding: 0px;
	border: none;
}

.Default
{
	vertical-align: bottom;
	font-family: "Aptos Narrow", "Swiss";
	font-size: 11px;
	color: #000000;
}

.s16
{
	text-align: left;
	vertical-align: bottom;
	font-family: "Aptos Narrow", "Swiss";
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	background-color: #C1E4F5;
}

.s17
{
	font-family: "Aptos Narrow", "Swiss";
	font-size: 11px;
	color: #000000;
}

.s18
{
	text-align: left;
	vertical-align: bottom;
}

